In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [2]:
df = pd.DataFrame()
df = df.from_csv('tsla.csv')

In [3]:
df.describe()

             close        volume         open         high          low
count  1803.000000  1.803000e+03  1803.000000  1803.000000  1803.000000
mean    144.444698  4.439461e+06   144.466594   146.920054   141.847566
std     102.990194  4.281379e+06   103.019791   104.429067   101.438157
min      15.800000  1.184140e+05    16.140000    16.630000    14.980000
25%      30.760000  1.267700e+06    30.605000    31.420000    29.885000
50%     178.560000  3.427251e+06   178.000000   181.730000   173.531000
75%     227.805000  5.963226e+06   227.975000   231.385000   224.120000
max     383.450000  3.710324e+07   386.690000   386.990000   379.345000

In [4]:
df.dtypes

close     float64
volume      int64
open      float64
high      float64
low       float64
dtype: object

In [5]:
df.index

DatetimeIndex(['2017-08-24', '2017-08-23', '2017-08-22', '2017-08-21',
               '2017-08-18', '2017-08-17', '2017-08-16', '2017-08-15',
               '2017-08-14', '2017-08-11',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='date', length=1803, freq=None)

In [6]:
df.head()

             close   volume    open    high       low
date
2017-08-24  352.93  4571574  352.52  356.66  349.7400
2017-08-23  352.77  4941947  338.99  353.49  338.3041
2017-08-22  341.35  4314268  341.13  342.24  337.3725
2017-08-21  337.86  6489850  345.82  345.82  331.8500
2017-08-18  347.46  5390805  352.91  354.00  345.8000

In [7]:
g = glob.glob('*.csv')

In [8]:
for i in g:
    for row, index in df.iterrows():
        if index['close'] < 0: 
            print('problemo close')
        #print(index['volume'])
        if index['volume'] < 0: 
            print('problemo volume')
        if index['open'] < 0: 
            print('problemo open')
        if index['high'] < 0: 
            print('problemo high')
        if index['low'] < 0: 
            print('problemo low')